body {
  text-align: center;e
}

h1 {
  color: #000000;
}

h2 {
  border-left: 5px solid #1598d1;
  width: 20%;
  margin: 0 auto;
}

button {
  color: white;
  background-color: #1598d1;
  border-width: 1.5px;
}
button:hover {
  color: darkblue !important;
}
button:active {
  color: white !important;
}

select {
  width: 100%;
  font-size: 15px;
  border: 0.3em solid #c1c1c1;
  border-radius: 5px;
  overflow: auto;
}

select option:checked {
  color: #FFFFFF;
  background: #1E90FF !important;
}

progress {
  width: 30%;
}

.field {
  background: whitesmoke;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

#index, #n {
  width: 50px;
}
